*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #fff;
    --text-color: #15162e;
    --text-color-secondary: #15162e;
    --text-color-disabled: #7b758a;

    --primary: #ffe907;
    --accent: #3564ad;
    --error: #e52320;
    --error-transparent: #fad8d8;
    --warning: #e52320;
    --positive: #0d9a39;

    --secondary1: #0d9a39;
    --secondary2: #048637;
    --secondary3: #219653;
    --secondary4: #005127;

    --ball-color: #ffe907;
}

body {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
    border: rgb(104, 104, 104) 2px solid;
    border-radius: .3em;
}

button {
    letter-spacing: .07em;
    display: block;
    padding: .5em 1em;
    margin: 1em auto;
    font-size: 1.3em;
    background-color: var(--primary);
    border-radius: .3em;
    border: none;
    font-weight: 800;
    color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.562);
    cursor: pointer;
}

header {
    padding: 1.5em;
    background-color: var(--secondary1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

header img {
    height: 2em
}

header nav ul li {
    font-weight: 600;
    margin-left: 1em;
}

header nav ul li a {
    position: relative;
    letter-spacing: .05em;
    color: white;
}

header nav ul li a::after {
    display: none;
    content: '';
    width: 1.1em;
    height: .7em;
    position: absolute;
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    left: calc(50% - .8em);
    top: 130%;
}

header nav ul li a:hover::after {
    display: block;
}

header nav ul li:first-of-type {
    margin-left: auto;
}

/* CSS LOADER */
.loader {
    --total-width: clamp(100px, 20vw, 300px);
    --ball-width: calc(var(--total-width) / 4);
    width: var(--total-width);
    height: var(--total-width);
    position: relative;
}

.loader span {
    --animation-time: 1s;
    width: var(--ball-width);
    height: var(--ball-width);
    background-color: var(--ball-color);
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: fade var(--animation-time) ease-in infinite;
    animation-delay: calc((var(--animation-time)/6) * var(--order, 0));
}

.loader span:nth-of-type(1) {
    top: 0;
    left: calc((var(--total-width) / 2) - var(--ball-width) / 2);

}

.loader span:nth-of-type(2) {
    --order: 1;
    top: 20%;
    right: 0;

}

.loader span:nth-of-type(3) {
    --order: 2;
    bottom: 20%;
    right: 0;
}

.loader span:nth-of-type(4) {
    --order: 3;
    bottom: 0;
    left: calc((var(--total-width) / 2) - var(--ball-width) / 2);
}

.loader span:nth-of-type(5) {
    --order: 4;
    bottom: 20%;
    left: 0;
}

.loader span:nth-of-type(6) {
    --order: 5;
    top: 20%;
    left: 0;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

}

/**********************/
/* LOGIN PAGE */
/**********************/

.login {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: var(--secondary1);
}

.login__form {
    background-color: white;
    border-radius: 10px;
    padding: 3em;
    box-shadow: rgba(0, 0, 0, 0.493) .5em .5em 3em;
}

.login__form label {
    font-size: 1.3em;
    display: block;
    font-weight: 700;
    margin: 1em 0em .5em 0em;
}

.login__form input {
    padding: .5em;
    font-size: 1.3em;
}

.login__error {
    display: block;
    max-width: 13em;
    color: var(--error);
}

/**********************/
/* CARS OVERVIEW PAGE */
/**********************/

.reservations h1 {
    margin: .5em
}

.reservations__cars {
    width: 100vw;
}

.reservations__cars li a {
    color: white;
}

.reservations__cars li {
    width: 100%;
    height: 33vh;
    position: relative;
    color: white;
}

.reservations__cars li img {
    filter: brightness(0.5);
    width: 100%;
    height: 33vh;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.reservations__cars li div {
    padding: 3em;
    position: absolute;
}

.reservations__cars li strong {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-weight: 400;
}

.reservations__cars li strong span {
    font-weight: 700;
}

/**********************/
/* CAR DETAIL PAGE */
/**********************/

.detail main section {
    position: relative;
    width: 100%;
    height: 33vh;
}

.detail .back_button {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
}

.detail .back_button svg {
    width: 2em;
    height: 2em;
    fill: #fff;
}

.detail .back_button svg path {
    fill: inherit;
}

.detail main .detail__header img {
    position: absolute;
    filter: brightness(0.5);
    width: 100%;
    height: 33vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.detail .detail__info_container {
    color: white;
    text-align: right;
    padding: .5em;
}

.detail .detail__info_container h1 {
    font-size: 3em;
}

.detail .car_info p {
    width: clamp(300px, 40vw, 800px);
    margin: 2em auto;
}

.detail .qr_code {
    display: block;
    margin: auto;
}

.detail .checkin_button {
    letter-spacing: .07em;
    display: block;
    width: 10em;
    text-align: center;
    padding: .5em 1em;
    margin: 1em auto;
    font-size: 1.3em;
    background-color: var(--primary);
    border-radius: .3em;
    border: none;
    font-weight: 700;
    color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.562);
    cursor: pointer;
}


/* ***************** */
/* *****CHECKIN****** */
/* ***************** */

.checkin {
    background: linear-gradient(to bottom, #0D9A39, #005127);
    background-size: contain;
    color: white;
}

.checkin {
    min-height: 100vh;
    font-weight: 300;
}

.checkin main {
    min-height: calc(85vh);
    position: relative;
}

.checkin nav ul {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.checkin nav li:nth-of-type(2) img {
    height: 2em;
}

.checkin nav li svg {
    height: 2em;
    width: 2em;
}

.checkin nav li svg path {
    fill: white;
}

.change_info {
    margin-top: .5em;
    color: white;
    text-decoration: none;
    border-bottom: white solid 1px;
    display: inline-block;
    margin-left: 1.5em;
    position: relative;
}

.change_info::before {
    position: absolute;
    left: -1.5em;
    top: calc(50% - .5em);
    content: '';
    width: 1em;
    height: 1em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/style/images/pencil.svg')
}

.checkin h1 {
    font-weight: 400;
    margin: .8em auto;
}

.checkin h1.header__no_margin {
    margin-bottom: 0;
}

.checkin__next_button {
    border-radius: 0;
    display: block;
    text-align: center;
    padding: .5em 2em;
    font-size: 1.3em;
    background-color: var(--primary);
    color: black;
    font-weight: 800;
    margin: 3rem auto;
    box-shadow: none;
}

/* checkin progress bar */
.checkin__progress_bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 16em;
    margin: auto;
}

.checkin__progress_bar ul {
    position: relative;
    padding: 0em;
    border: none;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkin__progress_bar ul::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: 100%;
    z-index: -1;

}

.checkin__progress_bar ul li {
    background-color: var(--secondary4);
    border: 3px solid var(--primary);
    width: 4em;
    height: 4em;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.checkin__progress_bar ul li svg {
    fill: white;
    width: 2em;
    height: 2em;
}

.checkin__progress_bar ul li svg path {
    stroke-width: 2px;
}

.checkin__progress_bar ul li:nth-of-type(1) svg {
    transform: translateX(.2em)
}

.checkin__progress_bar ul li:nth-of-type(2) svg {
    transform: scale(1.2)
}



/* lijstje met gele stippen van te voren */
.yellow_dot_list {
    margin: 2em 0em 0em 1em;
    font-size: 1.2em;
}

.yellow_dot_list li {
    position: relative;
}

.yellow_dot_list li::before {
    position: absolute;
    content: '';
    width: .5em;
    height: .5em;
    background-color: var(--primary);
    border-radius: 50%;
    left: -1.25em;
    top: calc(50% - .25em);
}

.next_buttons_container {
    display: block;
    width: 10em;
    margin: auto;
}

.next_buttons_container .checkin__next_button {
    padding: .5em 1.2em;
    margin-bottom: 0em;
}

.next_buttons_container a:last-of-type {
    margin: .5em 0em;
    border-bottom: 1px white solid;
    display: block;
    width: 4.2em;
    margin-left: auto;
    color: white;
    text-align: right;
}

/* ****************** */
/* CHECKIN INTRODUCTION */
.checkin__introduction nav li:nth-of-type(1) {
    visibility: hidden;
}

.checkin__introduction h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin: .8em auto;
}

.checkin main {
    padding: 0em 2.5em;
}

.checkin__introduction_list {
    position: relative;
}

.checkin__introduction_list li {
    font-size: .9em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3.5em;
}


.checkin__introduction_list li h2 {
    font-weight: 400;
    margin-bottom: .3em;
}

.checkin__introduction_list li p {
    font-weight: 100;
    font-size: .95em;
}

.checkin__introduction_list li::before {
    content: '';
    fill: white;
    font-size: 1em;
    margin-right: 2rem;
    display: grid;
    place-items: center;
    min-width: 5rem;
    width: 5rem;
    min-height: 5rem;
    height: 5rem;
    color: var(--positive);
    border-radius: 50%;
}

.checkin__introduction_list li:nth-of-type(1)::before {
    background: url(/style/images/notes.png), var(--primary);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkin__introduction_list li:nth-of-type(2)::before {
    background: url(/style/images/identification.png), var(--primary);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkin__introduction_list li:nth-of-type(3)::before {
    background: url(/style/images/credit-card.png), var(--primary);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkin__introduction_list+p {
    font-weight: 400;
}

/* line */
.checkin__introduction_list::before {
    content: '';
    height: 100%;
    width: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 2.5rem;
}

/* ************ */
/* Check info */
.checkin__check_info main .info_list {
    padding: 1em 0em;
    border-bottom: solid 1px var(--primary);
    max-width: 10em;
}

/* check info 2 */

.checkin__check_info2 main .info_list {
    max-width: 10em;
}

.checkin__check_info2 main ul li:nth-of-type(2) {
    padding-bottom: .5em;
    border-bottom: solid 1px var(--primary);
}

.checkin__check_info2 main ul li:nth-of-type(3) {
    margin-top: .5em;
}


/* CHECKIN VERIFICATION INFO */
.checkin__verification_info p {
    font-size: 1.2em;
    width: 17em;
}

/* check driver information */
.checkin__driver_info h2 {
    font-size: 1.3em;
    font-weight: 300;
    margin: 1em 0em 0em 0em;
}

.checkin__driver_info h1 {
    margin: 0em 0em .8em 0em;
}

/* person verification info */
.checkin__person_verification_photo .checkin__progress_bar {
    position: static;
    margin: 2em auto;
    transform: unset;
}

.checkin__person_verification p {
    font-size: 1.2em;
}

/* person verification */
.checkin__person_verification_photo .person_image {
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

/* person verification */
.person_photo_container {
    position: relative;
}

.checkin__person_verification_photo .picture_button {
    position: absolute;
    bottom: -1em;
    left: calc(50% - 1em);
    display: block;
    height: 2em;
    width: 2em;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
}

.checkin__person_verification_photo .picture_button svg {
    fill: white;
    display: grid;
    place-items: center;
    height: 2em;
    width: 2em;
}

/* document verification page */
.checkin__document_verification h1 {
    text-align: center;
}

.checkin__document_verification .verify_document_form {
    height: 50vh;
    display: grid;
    place-items: center;
}

.checkin__document_verification .checkin__step_complete svg {
    fill: white;
}

.checkin__document_verification .checkin__step_complete strong {
    display: inline-block;
    margin-top: .5em;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 400;
}

/* hide loader at default */
.checkin__document_verification .loader {
    display: none;
}

.checkin__document_verification .disabled {
    opacity: .4;
    pointer-events: none;
    cursor: pointer;
    filter: brightness(.5);
}



/**********************/
/****** PROFILE ******/
/**********************/

.profile_page h1 {
    margin: .5em;
}

.profile_page__information {
    padding: 3em;
}

.logout_form {
    position: absolute;
    right: 1em;
    top: 5em;
}

/* 404 page */
.error_page main {
    font-size: 2.5em;
    padding: 1em;
}

.error_page main h1 {
    font-weight: 800;
    color: var(--error);
}

.error_page main h2 {
    font-weight: 400;
}

.error_page main a {
    display: block;
    margin-top: 1em;
    font-weight: 400;
}