*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #fff;
    --text-color: #15162e;
    --text-color-secondary: #15162e;
    --text-color-disabled: #7b758a;

    --primary: #ffe907;
    --accent: #3564ad;
    --error: #e52320;
    --error-transparent: #fad8d8;
    --warning: #e52320;
    --positive: #0d9a39;

    --secondary1: #0d9a39;
    --secondary2: #048637;
    --secondary3: #219653;
    --secondary4: #005127;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
    border: rgb(104, 104, 104) 2px solid;
    border-radius: .3em;
}

button {
    letter-spacing: .07em;
    display: block;
    padding: .5em 1em;
    margin: 1em auto;
    font-size: 1.3em;
    background-color: var(--primary);
    border-radius: .3em;
    border: none;
    font-weight: 800;
    color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.562);
    cursor: pointer;
}

header {
    padding: 1.5em;
    background-color: var(--secondary1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

header img {
    height: 2em
}

header nav ul li {
    font-weight: 600;
    margin-left: 1em;
}

header nav ul li a {
    position: relative;
    letter-spacing: .05em;
    color: white;
}

header nav ul li a::after {
    display: none;
    content: '';
    width: 1.1em;
    height: .7em;
    position: absolute;
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    left: calc(50% - .8em);
    top: 130%;
}

header nav ul li a:hover::after {
    display: block;
}

header nav ul li:first-of-type {
    margin-left: auto;
}

/**********************/
/* LOGIN PAGE */
/**********************/

.login {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: var(--secondary1);
}

.login__form {
    background-color: white;
    border-radius: 10px;
    padding: 3em;
    box-shadow: rgba(0, 0, 0, 0.493) .5em .5em 3em;
}

.login__form label {
    font-size: 1.3em;
    display: block;
    font-weight: 700;
    margin: 1em 0em .5em 0em;
}

.login__form input {
    padding: .5em;
    font-size: 1.3em;
}

.login__error {
    display: block;
    max-width: 13em;
    color: var(--error);
}

/**********************/
/* CARS OVERVIEW PAGE */
/**********************/

.reservations h1 {
    margin: .5em
}

.reservations__cars {
    width: 100vw;
}

.reservations__cars li a {
    color: white;
}

.reservations__cars li {
    width: 100%;
    height: 33vh;
    position: relative;
    color: white;
}

.reservations__cars li img {
    filter: brightness(0.5);
    width: 100%;
    height: 33vh;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.reservations__cars li div {
    padding: 3em;
    position: absolute;
}

.reservations__cars li strong {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-weight: 400;
}

.reservations__cars li strong span {
    font-weight: 700;
}

/**********************/
/* CAR DETAIL PAGE */
/**********************/

.detail main section {
    position: relative;
    width: 100%;
    height: 33vh;
}

.detail .back_button {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
}

.detail .back_button svg {
    width: 2em;
    height: 2em;
    fill: #fff;
}

.detail .back_button svg path {
    fill: inherit;
}

.detail main .detail__header img {
    position: absolute;
    filter: brightness(0.5);
    width: 100%;
    height: 33vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.detail .detail__info_container {
    color: white;
    text-align: right;
    padding: .5em;
}

.detail .detail__info_container h1 {
    font-size: 3em;
}

.detail .car_info p {
    width: clamp(300px, 40vw, 800px);
    margin: 2em auto;
}

.detail .qr_code {
    display: block;
    margin: auto;
}

.detail .checkin_button {
    letter-spacing: .07em;
    display: block;
    width: 10em;
    text-align: center;
    padding: .5em 1em;
    margin: 1em auto;
    font-size: 1.3em;
    background-color: var(--primary);
    border-radius: .3em;
    border: none;
    font-weight: 700;
    color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.562);
    cursor: pointer;
}

/* CHECKIN */
.check-in-page {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(13, 154, 57, 1) 41%, rgba(12, 110, 42, 1) 68%);
}

.check-in-page .back_button svg {
    width: 2em;
    height: 2em;
    fill: #fff;
}

.check-in-page .back_button svg path {
    fill: inherit;
}

.check-in-page .back_button {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
}

.check-in-page main h1 {
    color: white;
}

.check-in-page main section.check-in {
    padding: 2em;
    width: 90vw;
    margin: auto;
    max-width: 900px;
    height: auto;
}


@media screen and (max-width: 600px) {
    .check-in-page main section.check-in {
        width: 100vw;
        padding: 0;

    }
}



.check-in form {
    border-radius: .5em;
    box-shadow: rgb(0 0 0 / 49%) 0.5em 1.5em 3em -0.4em;
    --formOffset: 0%;
    background-color: white;
    padding: 2em;
    display: flex;
    width: 100%;
    min-height: 70vh;
    overflow-x: hidden;
    position: relative;
}

.check-in form>fieldset {
    flex-grow: 1;
    transform: translateX(var(--formOffset));
    border: none;
    padding: 2em;
    color: var(--text-color);
    min-width: 100%;
    transition: all .3s ease-in-out
}

.check-in form>fieldset legend {
    font-size: 1.5em;
    color: var(--text-color);
    font-weight: 700;
}

.check-in form>fieldset legend>span {
    display: block;
    font-size: .6em;
    font-weight: normal;
}


/* CHECK INFO FIELD */
.field__info ul {
    margin: 2em 0em;
}

.field__info ul li {
    margin-bottom: .5em;
}

/* ID VERIFICATION FIELD */
.check-in .back_button {
    top: 15%;
    z-index: 1;
}

.check-in .back_button svg {
    fill: var(--error);

}

.check-in .field__id_verification {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.check-in .field__id_verification>div:first-of-type {
    margin-left: 1.5em;
}

.check-in .field__id_verification>div:last-of-type {
    margin: 3em auto
}

@media screen and (min-width: 820px) {
    .check-in .field__id_verification {
        flex-direction: row;
    }

    .check-in .field__id_verification>div:last-of-type {
        margin: 0em
    }
}

.check-in .field__id_verification div ol>li {
    margin: .5em 0em;
}

.check-in .field__id_verification div ol ul {
    list-style-type: disc;
    padding-left: .5em;
}

.check-in .field__id_verification div ol ul>li {
    margin: .3em 0em;
}



.check-in .field__id_verification input {
    width: 0;
    height: 0;
    opacity: 0;
}

.check-in .field__id_verification .id-placeholder,
.check-in .field__id_verification .photo-placeholder {
    position: relative;
}

.check-in .field__id_verification .id-placeholder span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.check-in .field__id_verification .id-placeholder img {
    object-fit: cover;
    width: 100%;
    height: clamp(200px, 25vmin, 400px);
    filter: brightness(.4);
    z-index: -1;
}

.check-in .id-placeholder {
    width: clamp(200px, 25vmin, 400px);
    height: clamp(200px, 25vmin, 400px);
    cursor: pointer;
    border: dashed black 3px;
    display: grid;
    place-items: center;
    text-align: center;
}

.check-in .id-placeholder img {
    display: none;
}

.check-in .field__id_verification #webcam {
    width: clamp(200px, 25vmin, 400px);
    height: clamp(200px, 25vmin, 400px);
    object-fit: cover;
}

#canvas {
    height: 0;
    width: 0;
    opacity: 0;
}

.check-in .field__id_verification .photo-preview {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: clamp(200px, 25vmin, 400px);
    height: clamp(200px, 25vmin, 400px);
}

.action_button.photo_button {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: grid;
    place-items: center;
    padding: 0;
}

.photo_button svg {
    width: 50%;
    height: 50%;
}

/* deposit field */
/* what payment */


.check-in .field__deposit #ideal:checked~fieldset:nth-of-type(1) {
    display: block;
}

.check-in .field__deposit #credit:checked~fieldset:nth-of-type(2) {
    display: block;
}

.check-in .field__deposit label {
    font-weight: 400;
}

.check-in .field__deposit input {
    width: 15em;
    padding: .5em;
    font-size: 1em;
    margin: .3em 0em;
}

.check-in .field__deposit>fieldset {
    display: none;
    border: none;
}

.check-in .field__deposit>input {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
}

.check-in .field__deposit>label {
    display: inline-block;
}


.check-in .field__deposit>div {
    display: flex;
}

.check-in .field__deposit input#expiry-date {
    border-right: 1px solid rgba(0, 0, 0, 0.411);
    width: 7.5em;
}

.check-in .field__deposit input#security-code {
    border-left: 1px solid rgba(0, 0, 0, 0.411);
    width: 7.5em;
}

.field__deposit label,
.field__deposit input {
    display: block;
}

.action_button {
    margin: 1em 0em;
    font-size: 1em;
}


/* CHECKIN PROGRESS BAR */
.form_nav {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 90%;
}


.check-in .progress {
    color: #fff;
    background-color: rgb(0, 0, 66);
    display: flex;
    --offset: 0%;
    position: relative;
    flex-grow: 1;
    max-width: 15em;
    justify-content: space-around;
    align-items: center;
    border-radius: 10000em;
    height: 2em;
}



.check-in .progress span {
    position: relative;
    z-index: 10;
}


.check-in .progress::after {
    content: '';
    z-index: 3;
    width: calc(100% / 3);
    height: 2em;
    border-radius: 10000em;
    left: var(--offset);
    top: 0%;
    /* transform: translateY(-25%); */
    position: absolute;
    background: var(--accent);
    transition: all .3s ease-in-out
}

.check-in .progress li {
    width: calc(100% / 3);
    display: inline-block;
    text-align: center;
}

.check-in .prev {
    visibility: hidden;
}

.check-in .progress {
    font-weight: 400;
    font-size: 1em;
    margin: 0em;
}

.check-in .next,
.check-in .prev,
.check-in .submit {
    background-color: var(--accent);
    color: white;
    font-weight: 600;
    font-size: 1em;
    margin: 0em;
}

.check-in .submit {
    color: black;
    background-color: var(--primary);
    display: none;
}



/**********************/
/****** PROFILE ******/
/**********************/

.profile_page h1 {
    margin: .5em;
}

.profile_page__information {
    padding: 3em;
}

.logout_form {
    position: absolute;
    right: 1em;
    top: 5em;
}

/* 404 page */
.error_page main {
    font-size: 2.5em;
    padding: 1em;
}

.error_page main h1 {
    font-weight: 800;
    color: var(--error);
}

.error_page main h2 {
    font-weight: 400;
}

.error_page main a {
    display: block;
    margin-top: 1em;
    font-weight: 400;
}