<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__check_info2">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>
            <h1>Check gegevens</h1>
            <ul class="info_list">
                <li>Borg <span>€400,-</span></li>
                <li>Verzekering <span>€49,-</span></li>
                <li>Totaal <span>€449,-</span></li>
            </ul>
            <form action="/cars/checkin/checkInfo2?car=<%= car.id %>" method="POST">
                <button class="checkin__next_button">bevestig</button>
            </form>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>
    </main>

</body>

</html>