<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__document_verification">

    <nav>
        <ul>
            <li><a href=""></a></li>
            <li>Logo</li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </nav>

    <main>
        <h1>document verificatie</h1>
        <p>
            upload rijbewijs
        </p>
        <form action="/create-verification-session" method="POST">
            <button id="verify-button">Verifieer rijbewijs</button>
        </form>
        <a href="/cars/checkin/driverInfo?car=<%= car.id %>">Begrepen</a>
        <a href="#">overslaan</a>
    </main>
    <script src="https://js.stripe.com/v3/"></script>
</body>

</html>