<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__person_verification">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>
            <h1>Persoons verificatie</h1>
            <p>
                Maak een foto van je volledige gezicht, let op:

                <ul class="yellow_dot_list">
                    <li>Draag geen hoofddeksels.</li>
                    <li>Oren, ogen en neus zijn zichtbaar.</li>
                    <li>Kijk recht in de camera.</li>
                </ul>
            </p>
            <div class="next_buttons_container">
                <a class="checkin__next_button" href="/cars/checkin/personVerification?car=<%= car.id %>">Begrepen</a>
                <a href="#">overslaan</a>
            </div>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>

    </main>

</body>

</html>