<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body class="error_page">

    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Error 404</h1>
        <h2>Oeps, de pagina die je zoekt bestaat niet</h2>

        <a href="/cars">Terug naar home</a>
    </main>

</body>

</html>