<header>
    <img src="/style/images/europcar_logo.png" alt="">
    <nav>
        <ul>
            <li><a href="/cars">Reserveringen</a></li>
            <li><a href="/profile">Profiel</a></li>
        </ul>
    </nav>
</header>