<section class="checkin__progress_bar">
    <ul>
        <li>
            <%- include('./icons/notes.ejs') %>
        </li>
        <li>
            <%- include('./icons/id.ejs') %>
        </li>
        <li>
            <%- include('./icons/credit-card.ejs') %>
        </li>
    </ul>
</section>